<h1>Products</h1>
<div>
    <table class="table table-striped table-hover">
        <% @products.each do |product| %>
        <td><%=link_to product.name product_path(product) %></td>
        <% end %>
    </table>
</div>
